.input1
{

width: 515px;
height: 49px;
clear: both;
}
.s-in
{

    width: 232px;
    height: 47px;
    margin-right: 55px;
    border: 1px solid #0381aa;
    color: #fff;background-color: 
    #00a7de;
}
.reg
{
    width: 232px;
    height: 47px; 
    background-color: rgb(255, 255, 255); 
    clear: both; 
}
a{
    text-decoration:none;
}
.help1
{
    color: #bbb;
    margin-left: 10px;
}
.help2
{
    color:  #02a7de;
    margin-right: 10px; 
    margin-left: 72px;
    clear: both;
}
.log
{
    color: #02a7de;margin-right: 20px;
    clear: both;
}
.enter
{
    float: left;
    padding-left:500px;
    box-sizing: border-box;
    display: block;

}
.size
{
    height:30px;
}
.size1
{
   height:100px;
}
.size2
{
    height:200px;
}
.size3
{
    height:5px;
}
.size4
{
    line-height: 100px;
}