.input1
{

    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    border-radius: 4px;
}
.s-in
{

    border: 1px solid #0381aa;
    color: #fff;
    background-color: #00a7de;
    display: inline-block;
    height: 36px;
    border-radius: 2px;
    width: 184px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-right: 80px;
}
.reg
{

    color: #555;
    display: inline-block;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 184px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
a{
    text-decoration:none;
}
.help1
{
    color: #bbb;
    margin-left: px;
}
.help2
{
    color:  #02a7de;
    margin-right: 10px; 
    margin-left: 50px;
    clear: both;
}
.log
{
    color: #02a7de;margin-right: 20px;
    clear: both;
}
.center
{
    float: left;

    padding-left:50%;
    display: flexbox;
    padding-top: 50%;
    padding-bottom: 50%;
}
.size
{
    height:40px;
}
.size1
{
   height:70px;
}
.size2
{
    height:150px;
}
.size3
{
    height:5px;
}
.size4
{
    margin-top: 50px;
}
.color
{
    color: #717171;
}